.correction-menu {
  font-size: 2em;
  border-radius: 4px;
  cursor: default;
  user-select: none;
  box-sizing: border-box;
  font-family: Courier New, Courier, monospace;
  transform: translateX(-50%);
  display: none;
  z-index: 99;
  position: absolute;
  box-shadow: 0 0 5px black;
  white-space: nowrap;
}

.correction-menu-item {
  display: inline-block;
  border-left: 0;
  border-right: 0;
  width: 1em;
  text-align: center;
  vertical-align: top;
  background: black;
  color: white;
}

.correction-menu-item-first {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.correction-menu-item-last {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.correction-menu-item-alternative {
  cursor: pointer;
  color: orange;
}

.correction-menu-item-alternative:hover {
  background: blue;
  color: white;
}

.correction-menu-selection {
  /*outline: 3pt dotted orange;*/
  box-shadow: 0 0 3pt 2pt orange;
  /*outline-bottom: 3pt dotted orange;*/
  background: #ddd;
}
