<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="tr">
<head>
  <title>Online Turkish Deasciifier - Deasciifier.com</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="tr" />
  <meta name="description"
    content="Online Turkish Deasciifier automatically adds accented characters to
    Turkish text. Useful for people who type Turkish on a non-Turkish keyboard." />
  <meta name="keywords" content="deasciifier, turkish, asciifier, turkce, turkce klavye,
  deniz yuret, mustafa emre acer, turkish text deasciifier, turkce karakter, otomatik turkce karakter cevrimi" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="https://deasciifier.com" />
  <!--
  Author:  Mustafa Emre Acer
  Version: 2.0
  -->
  <link rel="stylesheet" href="/static/css/main.css"/>

  <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-165235-14', 'auto');
  ga('send', 'pageview');
  </script>
  <!-- End Google Analytics -->
</head>
<body>
<div id="wrap">
 <div id="pagecontent">
  <div id="loading">
    <center>
      <span class="eng">Loading...</span>
      <span class="tur">Yükleniyor...</span>
    </center>
  </div>

  <div id="header">
    <span class="lang" id="lang_eng"><a href="#" class="lang_link" onclick="setUILang('eng');return false;">English</a></span>
      <span class="lang" id="lang_tur" style="display:none"><a href="#" class="lang_link" onclick="setUILang('tur');return false;">Türkçe</a></span>
      <div style="width:70%; text-align:center; margin: 0 auto" id="header_content"> <!-- logo and text -->
        <span id="logo"></span>
        <span>
          <h1>Turkish Text Deasciifier &amp; Asciifier</h1><br>
          <span id="headertext">
            <span class="tur">
               Metinlere otomatik olarak Türkçe karakterler ekleyen bir uygulama
              </span>
            <span class="eng">
              An application which restores accented characters from non-accented Turkish text
            </span>
          </span>
        </span>
      </div>
  </div> <!-- header -->

  <div id="main">
    <div id="controls">
      <div id="txtcontainer">
        <textarea id='txt' disabled="true"
        wrap="soft"
        spellcheck="false"
        dir="ltr"
        tabindex="0"
        autocapitalize="off"
        autocomplete="off"
        autocorrect="off"
        rows="20"
        ></textarea>
      </div>

      <div id="button-panel">
        <div id="options-panel"> <!-- checkbox container -->
          <ul class="checkbox_list">
            <li>
              <label class="checkbox">
                <input type="checkbox" id="deasciifyapp_auto_convert" checked="checked">
                <span class="eng">Convert while typing</span>
                <span class="tur">Yazarken çevir</span>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" id="deasciifyapp_show_corrections" checked="checked">
                <span class="eng">Show correction menu</span>
                <span class="tur">Düzeltme menüsünü göster</span>
              </label>
            </li>
            <li style="display:none">
              <label>
                <input type="checkbox" id="deasciifyapp_skip_urls" checked="checked">
                <span class="eng">Skip URLs</span>
                <span class="tur">URL'leri (https://google.com gibi) çevirme</span>
              </label>
            </li>
          </ul>
        </div> <!--options-panel-->
        <div id="keyboard-panel">
           <input
            class="button"
            type="button"
            id="btn_keyboard"
            style=""
            onclick="DeasciifyApp.displayKeyboard()"
          >
          <div id="keyboard" style="float: right; display:inline-block;"></div>
        </div>

        <div id="button-container-wrapper">
          <div id="button-container">
            <center>
              <div class="large-button-box" style="margin-right:20px; float:left">
                <button
                    id="btn_deasciify"
                    class="button large-button"
                    value="Deasciify"
                    disabled="true"
                    onclick='DeasciifyApp.deasciifySelection(document.getElementById("txt"))'>
                  Deasciify
                </button>
                <div class="btn_tiptext">cgiosu &rarr; çğıöşü</div>
              </div>
              <div class="large-button-box" style="margin-left:20px; float:right">
                <button
                    id="btn_asciify"
                    class="button large-button"
                    value="Asciify"
                    disabled="true"
                    onclick='DeasciifyApp.asciifySelection(document.getElementById("txt"))'>
                  Asciify
                </button>
                <div class="btn_tiptext">çğıöşü &rarr; cgiosu</div>
              </div>
            </center>
          </div> <!-- button-container-->
        </div> <!-- button-container-wrapper-->
      </div> <!-- button-panel -->
    </div> <!-- controls -->
  </div> <!-- main -->

  <div id="prefooter">
    <div class="action_list">
      <a href="extensions/chrome" class="chrome_ext">
        <span class="eng">Chrome Extension</span>
        <span class="tur">Chrome Eklentisi</span>
      </a>
      <a href="extensions/safari" class="safari_ext">
        <span class="eng">Safari Extension [New]</span>
        <span class="tur">Safari Eklentisi [Yeni]</span>
      </a>
      <a href="extensions/firefox" class="firefox_ext">
         <span class="eng">Firefox Extension</span>
         <span class="tur">Firefox Eklentisi</span>
      </a>
      <a href="https://github.com/meacer/deasciifier" class="sourcecode" style="border-right:0">
        <span class="eng">Source Code</span>
        <span class="tur">Kaynak Kodları</span>
      </a>
    </div>
    <div class="feedback">
      <a href="https://deasciifier.uservoice.com" target="_blank">
        <span class="eng">Feedback</span>
        <span class="tur">Geribildirim</span>
      </a>
    </div>
  </div>
  <div id="footer">
    <div class="disclaimer-text">
      <span class="eng">
        Deasciifier code converted by <a href="http://mustafaacer.com">Mustafa Emre Acer</a> from
            <a href="http://www.denizyuret.com/turkish">Dr. Deniz Yüret's turkish-mode for Emacs</a>.<br>
        <div class="privacy">
          <b>Privacy:</b> Deasciification is done on the client side (i.e. your computer), the text you enter is not saved or sent to any other
          computer.
        </div>
      </span>
      <span class="tur">
        Deasciifier kodu <a href="http://mustafaacer.com">Mustafa Emre Acer</a> tarafından
            <a href="http://www.denizyuret.com/turkish">Dr. Deniz Yüret'in Emacs için geliştirdiği turkish-mode</a>'dan çevrilmiştir.<br>
        <div class="privacy">
          <b>Gizlilik:</b> Türkçeleştirme tamamen istemci tarafında yapılmaktadır, Türkçeleştirme esnasında
          girdiğiniz metin kesinlikle kaydedilmemekte veya
          Internet üzerinden başka bir bilgisayara aktarılmamaktadır.</span>
          </span>
        </div>
    </div>
    <div style="padding:5px; text-align:center">
      <a id="facebook-logo" class="share-link" title="Facebook'ta payla&#351;"
      href="https://www.facebook.com/sharer.php?u=https://deasciifier.com/&t=Online%20Turkish%20Deasciifier&src=sp">
        Facebook
      </a>
      <a id="twitter-logo" class="share-link" title="Twitter'da payla&#351;"
      href="https://twitter.com/share?_=1286745115048&count=none&original_referer=https://www.deasciifier.com/&text=Online%20Turkish%20Deasciifier&url=https://deasciifier.com/">
        Twitter
      </a>
    </div>
  </div> <!-- footer -->
 </div> <!-- pagecontent -->

  <div id="postfooter">
    <div style="font-size:0.9em; margin:5px; clear:both">
      <a href="https://deasciifier.com" class="small-link">deasciifier.com</a>
    </div>
  </div> <!-- postfooter -->
</div> <!-- wrap -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>
if (typeof(window.Deasciifier)=="undefined") {
  window.Deasciifier = {};
}
</script>
<script src="/static/js/allscripts.js?3"></script>
<script>
var textArea = document.getElementById("txt");

var current_lang = "tur";
var PageTexts = {
  preload_text:{
    "tur":"Y&#252;kleniyor...",
    "eng":"Loading..."
  },
  info_text:{
   "tur":"&#199;evirmek istedi&#287;iniz metni buraya giriniz.",
   "eng":"Enter your text here to deasciify."
  }
};
// Sets the language of the page
function setUILang(lang) {
  $('.' + current_lang).hide();      // Hide current language's items
  $("#lang_" + current_lang).show(); // Show current language's button
  $('.' + lang).show();              // Show new language's items
  $("#lang_" + lang).hide();         // Hide new language's button
  current_lang = lang;
  if (first_time_clicked) {
    $(textArea).html(PageTexts.info_text[current_lang]);
  }
  DeasciifyBox.setUILang(("lang"=="tur")?"tr":"en");
  return false;
}

function enableControls(enabled) {
  var ids = ["txt", "btn_deasciify", "btn_asciify"];
  for (var i=0; i<ids.length; i++) {
    if (enabled) {
      $("#" + ids[i]).removeAttr('disabled');
    } else {
      $("#" + ids[i]).attr('disabled', 'disabled');
    }
  }
}
window.Deasciifier.onPatternListLoaded = function(patternList) {
  $("#loading").hide();
  Deasciifier.init(patternList);
  enableControls(true);
  document.getElementById("btn_deasciify").style.visibility = "visible";
  document.getElementById("btn_asciify").style.visibility = "visible";

  DeasciifyApp.init({
    "textbox": textArea,
    "keyboard_toggle_btn": "btn_keyboard"
  });
  textArea.onclick = on_focus_handler; // TODO: This will be overriden by suggestions popup menu?
  textArea.onfocus = on_focus_handler;
}

var first_time_clicked = true;
function on_focus_handler() {
  if (first_time_clicked) {
    textArea.style.color = 'black';
    textArea.value = '';
    first_time_clicked = false;
  }
}

if (textArea.value=="") {
  textArea.innerHTML = PageTexts.info_text[current_lang];
  textArea.style.color = "#888";
}

</script>
<!-- /Deasciification -->
<!-- IE6 Background hover image hack: -->
<script type="text/javascript">
try {
 document.execCommand('BackgroundImageCache', false, true);
} catch(e) {}
</script>

<!-- Pattern list (very large) -->
<script type="text/javascript">
(function(){
  var sc = document.createElement("script"); sc.type = "text/javascript"; sc.async = true;
  sc.src = "/static/js/deasciifier.patterns.js?2";
  var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(sc, s);
})();
</script>
<!-- /Pattern list -->

</body>
</html>

